*.gz
__pycache__
*.ipynb_checkpoints
x86_64
*.pdf
.coverage*
coverage.xml
*.pyc
feature_extraction/cADpyr
feature_extraction/cADpyr_efel2.10.150
feature_extraction/cADpyr_efel3.1.96
validation/tests/output/results.json
model_management/mm_run_minimal/tmp
model_management/mm_run_minimal/output
model_management/mm_run_minimal/output_select
model_management/mm_run_minimal/tests/tmp
model_management/mm_run_minimal/tests/output
model_management/mm_run_minimal/tests/output_select
somatic_validation/L5TPC
somatic_validation/test_L5TPC
*.DS_Store
